<!-- created the navbar, need to change the path and picture does not have to be hard coded  -->

<div class="navbar  navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="footer-navbar">
      <%= link_to root_path do %>
      <%= image_tag("image 10.png") %>
      <% end  %>
      <%= link_to root_path do %>
        <%= image_tag("Vector") %>
      <%end %>
      <%= link_to root_path do %>
        <%= image_tag("plane.png") %>
      <% end %>
      <%= link_to root_path do %>
        <%# <%= cl_image_tag @user.photo.key, class: "avatar" %>
      <% end %>
    </div>
  </div>
</div>
