<!-- created the navbar, need to change the path and picture does not have to be hard coded  -->

<div class="navbar  navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="footer-navbar">
      <%= link_to root_path do %>
      <%= image_tag("image 10.png") %>
      <% end  %>
      <%= link_to root_path do %>
        <%= image_tag("Vector") %>
      <%end %>
      <%= link_to root_path do %>
        <%= image_tag("plane.png") %>
      <% end %>
      <%= link_to root_path do %>
        <% if current_user && current_user.photo %>
          <%= cl_image_tag current_user.photo.key, crop: :fill, alt: "profile-pic", class: "avatar" %>
        <% else %>
          <%= image_tag("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", crop: :fill, alt: "blank-profile-pic", class: "avatar") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
