<div data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="container chatroom">
    <div class="back-chevron">
      <%= link_to chatrooms_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <% if @chatroom.user_1 == current_user %>
          <h2><%= @chatroom.user_2.username %></h2>
        <% else %>
          <h2><%= @chatroom.user_1.username %></h2>
        <% end %>
      <div class="img-pos">
        <%= cl_image_tag current_user.photo.key, class: 'chatroom-img' %>
        <% if @chatroom.user_1 == current_user %>
          <%= cl_image_tag @chatroom.user_2.photo.key, class: 'chatroom-img reciever-img' %>
        <% else %>
          <%= cl_image_tag @chatroom.user_1.photo.key, class: 'chatroom-img reciever-img' %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    </div>
  </div>
  <%= simple_form_for [@chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" }   do |f|
  %>
    <div class="insert-messages-here">
      <div class="message-field">
        <%= f.input_field :content,
          label: false,
          placeholder: "Message #{ current_user == @chatroom.user_1 ? @chatroom.user_2.username : @chatroom.user_1.username }",
          class: "flex-grow-1 mb-0 message-box form-control chatroom-message-style"
        %>
      </div>
        <%= button_tag type: 'submit', class: "btn btn-primary-custom chatroom-send-btn" do %>
          <i class="fa-regular fa-paper-plane"></i>
        <% end %>
    </div>
  <% end %>
</div>
