<%# PP means profile page haha %>
<div class="backg">
    <div class="orange-top">
    </div>
  <div class="container profile-info-container">
    <div class="avatar-row white-cover">
      <div class="stats-next-to-avatar">
        <h4><%= @user.journeys.count %></h4>
        <h6>Journeys</h6>
      </div>
      <% if @user && @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, alt: "profile-pic", class: "avatar-circle-large profile-page-avatar" %>
          <% else %>
            <%= image_tag("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-circle-large profile-page-avatar") %>
          <% end %>
      <div class="stats-next-to-avatar">
        <h4>
        <% sum = 0 %>
        <% @user.experiences.each do |experience| %>
          <% sum += experience.weighted_total %>
        <% end %>
        <%= number_with_delimiter(sum, :delimiter => ',') %>
        </h4>
        <h6>Upvotes</h6>
      </div>
    </div>
    <div class="user-name-bio-and-message">
      <div class="username-container">
        <h1 class="user-name">
        <%= @user.username %>
        </h1>
        <div class="edit-link-container">
          <%= link_to edit_user_registration_path do %>
            <i class="fa-solid fa-pen-to-square fa-xs", style="color:Black;" ></i>
          <% end %>
        </div>
      </div>


      <h6 id="user-bio-margins">
        <%= @user.bio %>
      </h6>
      <% if @user != current_user %>
        <%= render 'message_link', user: @user, class: "message-btn" %>
      <% end %>
    </div>

  </div>

  <hr>

      <ul class="nav nav-pills mb-4 justify-content-evenly" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active user-tabs" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Experiences</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link user-tabs" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Journeys</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%# Experiences %>
          <div class="lower-pp container">
            <div class="row justify-content-center">
                <% @journeys.each do |journey| %>
                  <% journey.experiences.each do |experience| %>
                    <% experience.photos.each do |photo| %>
                      <div class="col-4 p-0 mx-2", style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 67.71%, #292929 100%), url(<%= cl_image_path photo.key %>);">
                          <h6 class="journey-name"><%= journey.location %></h6>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%# Journeys %>
          <div class="lower-pp container">
            <div class="my-grid">
              <% @journeys.each do |journey| %>
                <%= link_to journey_path(journey), class: 'journey-links' do %>
                  <div class="card" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= image_path unsplash_image_url(size: '300x200', tags: journey.location) %>')">
                      <h4 class="journey-card-name"><%= journey.location %></h4>
                      <h6 class="journey-card-date"><%= journey.start_date.strftime('%d/%m/%y') %></h6>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
</div>
