<div class= "banner">
  <%= video_tag "Globetrotters_landing_page_video.mp4", :autoplay=> "autoplay", loop: "loop", :controls => false, muted: true, playsinline: true, class: "banner-video" %>
  <div class="banner-text">
    <%= image_tag "GlobeTrotters_logo_orange.png", class: "logo_image" %>

    <%# Link to feed wall %>
    <% if current_user %>
      <p><strong><%= link_to "Inspire your next holiday", experiences_path, class: "btn-primary-custom" %></strong></p>
    <% else %>
      <p><strong><%= link_to "Log-in", new_user_session_path, class: "btn-primary-custom" %></strong></p>
    <% end %>
    <a href="#last-element-on-page"><i class="fa-solid fa-chevron-down scroll-down-button" style="color: #ffffff;"></i></a>
  </div>
</div>

<div>
  <div class="landing-container">

      <h1 class="landing-page-info-container"><span style= "color: #3A3A3A;"><strong>Plan your journey with <span style= "color: #FF6900;">AI</span></strong></span></h1>

    <div class= "landing-page-card">
      <i class="fa-solid fa-circle-info" style="color: #ff6900; font-size: 80px;"></i>
      <h4 style="color: #3A3A3A;">Destination<br>info</h4>
    </div>

    <div class= "landing-page-card set-top-margin">
      <i class="fa-solid fa-suitcase-rolling" style="color: #ff6900; font-size: 80px;"></i>
      <h4 style="color: #3A3A3A;">Packing<br>list</h4>
    </div>

    <div class= "landing-page-card set-top-margin">
      <i class="fa-solid fa-location-dot" style="color: #ff6900; font-size: 80px;"></i>
      <h4 style="color: #3A3A3A;" id="last-element-on-page">Most liked<br>experiences list</h4>
    </div>

      <% if current_user %>
        <p><strong><%= link_to "Inspire your next holiday", experiences_path, class: "btn-primary-custom landing-page-bottom-btn" %></strong></p>
      <% else %>
        <p><strong><%= link_to "Log-in", new_user_session_path, class: "btn-primary-custom landing-page-bottom-btn" %></strong></p>
      <% end %>
  </div>


</div>
