<div class="row m-1">
  <div class="col-sm-8 disp-flexi">
      <%= form_with url: experiences_path, method: :get, class: "d-flex height-property" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control experiences-search-style",
              placeholder: "Search"
          %>
        <% submit_tag image_tag('orange_search.svg').html_safe, name: "", class: "btn-primary-custom btn-search" %>
        <%= image_submit_tag("orange_search.svg", class: "btn-primary-custom btn-search" ) %>
      <% end %>
  </div>
  <div class="container">
    <div class="cards">
      <% @experiences.each do |experience| %>
        <div data-controller="saved-experience">
          <div class="photo", style="background-image: url(<%= cl_image_path experience.photos.first.key%>);">
           <div class="background-linear-gradient">
              <div class="thisclass">
                <div class="d-flex">
                  <div class="avatar m-3">
                    <%= link_to profile_page_path(experience.journey.user.username) do %>
                      <%= cl_image_tag experience.journey.user.photo.key, crop: :fill, alt: "profile-pic", class: "avatar" %>
                    <% end %>
                  </div>
                  <p class="username">
                    <%= link_to experience.journey.user.username, profile_page_path(experience.journey.user.username) %>
                  </p>
                </div>
                <%# dropdown for journeys %>
                <div class="d-flex flex-column justify-content-center parent-postion ">
                  <a data-saved-experience-target="button" class="plus-icon" data-action="click->saved-experience#dropdown"><%= image_tag("plus_icon.svg") %></a>
                  <div class="d-none form-position " data-saved-experience-target="form">
                    <%= simple_form_for @saved_experience, url: saved_experience_path(experience) do |f| %>
                    <%= f.input :journey, collection: current_user.journeys, label_method: :location, value_method: :id %>
                    <%= f.submit 'Add', class: "btn-primary-custom", style:"margin-left:146px;" %>
                    <% end %>
                  </div>
                </div>

              </div>

              <div class="title-likes">
                <div class="title">
                  <div class="d-flex flex-column address-margin">
                    <h3><%= experience.title %></h3>
                    <em><p class="m-0 address-color"><%= experience.address %></p></em>
                  </div>
                  <div data-controller="like-experience" data-like-experience-id-value="<%= experience.id %>" class="like-and-heart">
                    <div data-action="click->like-experience#updateLikes" data-like-experience-target = "likes" >
                      <%= render "experiences/like_link", journey: experience.journey, experience: experience %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="content d-flex justify-content-between" data-controller="truncate-text">
              <div class="d-flex flex-column">
                <p class="d-inline-block text-truncate" data-truncate-text-target="textToTruncate"><strong><%= experience.journey.user.username %>: </strong><%= experience.content %></p>
                <%= image_tag "drop_down_icon.svg", class: "align-self-center username-content", data: { action: "click->truncate-text#truncateText" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
