
  <div class="container-journey">
    <%= simple_form_for @journey do |f| %>
        <%= f.input :location, label: 'Where are you going?', placeholder: "Eg. London", class: "input-journey-size" %>
        <%= f.input :start_date,
                    as: :string,
                    placeholder: "Please pick a start date",
                    input_html: { data: { controller: "datepicker" } }  %>
        <%= f.input :end_date,
                    as: :string,
                    placeholder: "Please pick an end date",
                    input_html: { data: { controller: "datepicker" }, value: { } }   %>
        <%= f.input :category, label: 'What will you be doing?', placeholder: "E.g. camping, hiking, city break..." %>
        <%= f.input :notes, placeholder: "Optional: notes for you..." %>
  </div>
  <%= f.button :submit, "Submit", class: "btn-primary-custom submit-button-center" %>
  <% end %>
</div>
