<div class="show-container pb-3">
  <div class="d-flex px-3 pt-5">
    <%= link_to image_tag("go_back_icon.svg"), :back %>
    <div>
      <h2 class="location-title-bold"><%= @journey.location %></h2>
      <p><%= @journey.start_date %> - <%= @journey.end_date %></p>
    </div>
    <div>
      <%= link_to new_journey_experience_path(@journey), class: "btn-secondary-custom secondary-button-position", id: "share-button-show-page" do %>
        <%= image_tag("share_icon.svg") %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between container-basic-info-icon">
    <div class="d-flex flex-column justify-content-center">
      <!-- Displaying the current weather through an api -->
      <%= image_tag @current_weather_icon_path, class: "basic-info-icon my-2" %>
      <p><%= @temperature_for_journey %>°C</p>
    </div>

    <div class="d-flex flex-column text-centre">
      <!-- Displaying the languange -->
      <%= image_tag "language_icon.svg", class: "basic-info-icon my-2" %>
      <p><%= @journey.language %></p>
    </div>

    <div class="d-flex flex-column">
      <!-- Displaying the currency -->
      <%= image_tag "currency_icon.svg", class: "basic-info-icon my-2" %>
      <p><%= @journey.currency %></p>
    </div>

    <div class="d-flex flex-column">
      <!-- Displaying the currency -->
      <%= image_tag "time_zone_icon.svg", class: "basic-info-icon my-2" %>
      <%# need to give the correct timme zone %>
      <p>GMT <%= @current_time_in_location %></p>
    </div>
  </div>

  <div class="list my-4" data-controller="dropdown-lists"> <!-- stimulus controller -->
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= image_tag "laguage.svg", class: "list-icon" %>
        <h2>Packing</h2>
      </div>
      <div data-action="click->dropdown-lists#dropdown" data-dropdown-lists-target="dropdown-lists"> <!-- data action-->
        <%# lists need to be a dropdown %>
        <%= image_tag "drop_down_icon.svg", data: { dropdown_lists_target: "icon" } %>
      </div>
    </div>
    <ul class="mt-3 packing-list-ul" data-dropdown-lists-target="list">
      <% @journey.packing_list.split(", ").each do |packing_item| %>
        <li class="packing-item py-2 px-2"><%= packing_item.capitalize %></li>
      <% end %>
    </ul>
  </div>


  <div class="list" data-controller="dropdown-lists"> <!-- stimulus controller -->
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= image_tag "diamond_icon.svg", class: "list-icon"%>
        <h2>Sightseeing</h2>
      </div>
      <div data-action="click->dropdown-lists#dropdown" data-dropdown-lists-target="dropdown-lists">
        <%# lists need to be a dropdown %>
        <%= image_tag "drop_down_icon.svg", data: { dropdown_lists_target: "icon" }  %>
      </div>
    </div>
    <div data-dropdown-lists-target="list">
      <div>
        <p class="top-experiences-for-location-italic mt-2"><em>Top experiences people had in <%= @journey.location %></em></p>
      </div>
      <% @sight_seeing_list.each do |saved_experience| %>
        <div class="experience-card mt-3">
          <div class="d-flex flex-column">
            <div class="p-2 parent-position-relative">
              <%= link_to delete_saved_experience_path(saved_experience), data: { turbo_method: :delete }, class: "destroy-link-position" do %>
                <%= image_tag "minus_icon.svg" %>
              <% end %>
              <%= cl_image_tag saved_experience.experience.photos.first.key, crop: :fill, class: "experiences-photo-size" %>
            </div>
            <div class="text-experience-card-margin-left">
              <h3 class="mt-2"><%= saved_experience.experience.title %></h3>
              <p><%= saved_experience.experience.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
