<!DOCTYPE html>
<html>
  <head>
    <title>Globetrotters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <div style="min-height:100vh;">
      <p class="notice m-0 flash-padding-fix"><%= notice %></p>
      <p class="alert m-0 flash-padding-fix"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render "/components/navbar" %>
  </body>
</html>
