<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path("favicon_plane.ico") %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <div style="min-height:100vh;background-color: white;">
      <p class="notice m-0 flash-padding-fix"><%= notice %></p>
      <p class="alert m-0 flash-padding-fix"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render "/components/navbar" unless params[:controller] == "chatrooms" && params[:action] == "show" || request.fullpath=='/'  %>
  </body>
</html>
